:host {
  display: block;
  height: 100%;
  width: 100%;
}

.homepage {
  height: inherit;

  .homepage__buttons {
    display: flex;
    justify-content: center;

    .homepage__button + .homepage__button {
      margin-left: 1rem;
    }
  }

  .homepage__title + .homepage__buttons {
    margin-top: 2rem;
  }

  .homepage__buttons + .homepage__content {
    margin-top: 2rem;
  }

  .homepage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
    .books + .members {
      margin-top: 2rem;
      @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-left: 1rem;
      }
    }
  }
}
