<div class="book">
<div class="book__header">
  <div class="quantity"> {{ id }}</div>
  <div class="title">
    <span title="{{ naslov }}"> {{ naslov }}</span>
  </div>
  <div class="detail">
    <app-button [style]="'gray'" [size]="'medium'" [radius]="'no'">
      Detaljnije...
    </app-button>
  </div>
</div>
<div class="book__content">
  <div class="author">
    <span class="label">Autor:</span>
    <span class="value"> {{ autor }}</span>
  </div>
  <div class="name">
    <span class="label">Ime knjige: </span>
    <input type="text" value="{{ naslov }}" />
  </div>
</div>
<div class="book__footer">
  <app-button [style]="'primary'" [size]="'small'" [radius]="'small'">
    Sačuvaj izmene
  </app-button>
</div>
</div>
